In [4]:
from simple_widget import example

In [5]:
example = example.ListData()

In [7]:
show_box = example.show_box() # list of values displayed in a vertical box

VBox(children=(Button(description=u'one', style=ButtonStyle()), Button(description=u'two', style=ButtonStyle()), Button(description=u'three', style=ButtonStyle())))

In [9]:
a = 10
b = 10
example.tabulated_results(a, b)

       Rad. temp  Ws
Shell
1              0   0
2              1   1
3              2   2
4              3   3
5              4   4
6              5   5
7              6   6
8              7   7
9              8   8
10             9   9